.search {
  width: 90%;
  margin: 0 auto;
}

.search__block__one:hover {
  cursor: pointer;
}

.block__search {
  width: 100%;
  margin: 20px auto;
}

.search__block__one {
  display: flex;
  justify-content: space-between;

  margin: 20px 0;
  width: 100%;

  border-bottom: 1px solid gray;
}

.search__block__one:hover {
  transform: scale(1.03);
  transition: 1s;
}

.search__block__one div {
  width: 100%;
}

.search__block__one span {
  margin-right: 10px;

  font-weight: bold;
}

.search__block__one img {
  float: right;
}

.search__block__cnt {
  display: flex;
  justify-content: center;
  margin: 20px;
  
  font-size: 16px;
}

.search__block select{
  border-radius: 8px;
  background: rgb(221, 221, 221);
}

.search__block__cnt input {
  margin-right: 5px;
  padding: 6px 0 4px 10px;

	border: 1px solid #cecece;
	background: rgb(221, 221, 221);
  border-radius: 8px;
  
}

.search__block label,
.search__block select {
  color: gray;
  padding: 0 10px;
}




