h2 {
  margin-top: 20px;
  margin-bottom: 50px;
}

.developer-img {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 6px solid rgba(155, 155, 155, 0.2);
}

.icons-developer {
  display: block;
  color: rgb(14, 14, 14);
  margin: 5px auto;
  font-size: 40px;

  -webkit-transition: .3s ease;
  -moz-transition: .3s ease; 
  -o-transition: .3s ease;
}

.icons-developer:hover {
  color: rgb(165, 35, 35);
  transition-duration: .3s;
}